
body {
    background: #000;
    margin: 0;
    font-family: Arial;
    color: cyan;
    text-align: center;
}
.container { margin-top: 60px; }
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid cyan;
}
h1 { font-size: 40px; }
.buttons button {
    margin: 5px;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid cyan;
    color: cyan;
    border-radius: 10px;
}
textarea {
    width: 60%;
    height: 250px;
    margin-top: 20px;
    background: #111;
    border: 2px solid cyan;
    border-radius: 10px;
    color: cyan;
    padding: 10px;
}
